*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #111146  
#4b1e7e
#f1c994

*/

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #111;
}

/* header section */
.header{
  background: linear-gradient(to right, #111146, #36056e);
  height: 13vh;
  max-width: 100vw;
  position: sticky;
  top: 0;         
  z-index: 9999; 
  border-bottom: 1px solid #652aee; 
}
.header__nav{
  height: 100%;
  width:100% ;
  display: flex;
    padding: 0px 55px;
  justify-content: space-between;
  
}
.header__nav>img{
  height: 12vh;
  padding-top: 4px;
  width: 5vw;
}
.navbar-register{
   align-items: center;
   display: flex;
}
.navabr-register-btn{
   background-color: white;
  color: #111146;
  border: none;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navabr-register-btn:hover{
  background-color: #d5d4d6;
  color: #111146;
  transform: translateY(-2px);
}


/* Mobile screen Respnisve */
@media (max-width: 768px) {

  .header{
    height: 70px;
  }

  .header__nav{
    padding: 0 16px;
  }

  .header__nav > img{
    height: auto;
    width: auto;
  }

  .navabr-register-btn{
    padding: 8px 18px;
    font-size: 14px;
  }
}


/* Tablet screen responsive */
@media (min-width: 769px) and (max-width: 1024px) {

  .header{
    height: 80px;
  }

  .header__nav{
    padding: 0 30px;
  }

  .header__nav > img{
    height: auto;
    width: auto;
  }

  .navabr-register-btn{
    padding: 9px 22px;
    font-size: 15px;
  }
}


/* ------------------------------- Hero Section ------------------ */
#main{
  margin-top: -19px;
}
.hero-section{
  background: linear-gradient(to right, #111146, #4b1e7e);
  height: 75vh;
  max-width: 100vw;
}
.hero-parent{
  display: flex;
  width: 100% ;
  justify-content: space-between;
  height: 100%;
  padding: 0px 50px;

}

.hero-offer{
 width: 33.3%;
 height: 100%;
 align-items: center;
 
}
.hero-offer-content{
  padding-top: 90px;
  line-height: 36px;
}
.discover{
  font-size: 30px;
  font-weight: 600;
  color:#f1c994;
  
}
.top-30{
  font-size: 40px;
   font-weight: 600;
  color:#f1c994;

}
.all-in{
  font-size: 20px;
   font-weight: 400;
  color:#f1c994;

}
.hero-offer-btn{
  background-color: #f1c994;
  height: 13vh;
  width: 82%;
  
  margin-left: -10px;
  display: flex;
  line-height: 10px;
  border-radius: 45px;
  justify-content: space-around;
  border: 1px solid #f5aa49;
}
.hero-offer-btn-location-para1,.hero-offer-btn-date-time-para1{
  color: #4b1e7e;
  font-size: 20px;
  font-weight: 500;
}
.hero-offer-btn-location-para2,.hero-offer-btn-date-time-para2{
  font-size: 14px;
  font-weight: 500;
}

.hero-offer-btn-line{
  height: 8vh;
  align-items: center;
  width: 1px;
   margin-top: 18px;
  background: black;
}

/*  marquee hero */
.hero-img-slider{
 width: 33.4%;
 height: 100%;
 display: flex;
 gap: 10px;
 overflow: hidden;
}
.hero-img-slider-fist{
  display: flex;
  flex-direction: column;
  animation: marqueeUp 4s linear infinite;
  will-change: transform;
}

.hero-img-slider-fist>img{
  height: 40vh;  
  border-radius: 55px;
  width: 7vw;
  padding-top: 15px;
  object-fit: cover;
}



.hero-img-slider-second{
  display: flex;
  flex-direction: column;
  animation: marqueeUp 5s linear infinite;
  will-change: transform;
}
.hero-img-slider-second>img{
  height: 40vh;  
  border-radius: 55px;
  width: 7vw;
  padding-top: 15px;
  object-fit: cover;
}

.hero-img-slider-second:hover,.hero-img-slider-fist:hover {
  animation-play-state: paused;
}

@keyframes marqueeUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}


.hero-query-form{
   width: 33.3%;
    height: 100%;

}
.hero-form-child{
  background-color: #22044460;
  height: 18rem;
  margin-top: 95px;
  width: 70%;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
  display: block;
}
.hero-form-child>h3{
  color: white;
}
.hero-form-child>input{
  width: 100%;
  height: 35px;
  margin-bottom: 8px;
  border-radius: 5px;
  background-color: #d0abfa34;
  border: none;
  color: white;
  
}
.hero-form-child>input::placeholder{
  color: white;
  font-weight: lighter;
}
.hero-form-child>button{
  padding: 10px;
  width: 150px;
  background-color:#36056e7c ;
  border: 1px solid white ;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}
.hero-form-child>button:hover{
  background: white;
  color:#652aee;
  transition: ease-in-out;
  transition-duration: 0.4s;
}




/*-------------------- Hero section mobile screen responive----------------- */
@media (max-width: 767px) {

  .hero-section {
    height: auto;
    padding: 30px 0;
  }

  .hero-parent {
    flex-direction: column;
    padding: 0 15px;
    gap: 40px;
  }

  /* -------- hERO OFFER -------- */
  .hero-offer {
    width: 100%;
    text-align: center;
  }

  .hero-offer-content {
    padding-top: 20px;
    line-height: 30px;
  }

  .discover { font-size: 22px; }
  .top-30 { font-size: 30px; }
  .all-in { font-size: 16px; }
.hero-offer-btn-location-para1,.hero-offer-btn-date-time-para1{
  font-size: 18px;
}
  .hero-offer-btn {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    margin-left: 0;
  }

  .hero-offer-btn-line {

    width: 1px;
    height:auto;
    margin: 10px 0;
  }

  /* -------- iMAGE SLIDER -------- */
  .hero-img-slider {
    width: 100%;
    height: 320px;
    justify-content: center;
  }

  .hero-img-slider-fist,
  .hero-img-slider-second {
    animation-duration: 6s;
  }

  .hero-img-slider-fist > img,
  .hero-img-slider-second > img {
    width: 22vw;
    height: 160px;
    border-radius: 25px;
  }

  /* -------- FORM -------- */
  .hero-query-form {
    width: 100%;
  }

  .hero-form-child {
    width: 100%;
    margin: 0;
  }
}







/* ----------------------- Table screen Responsive ------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {


  .hero-section {
    height: auto;
    padding: 30px 0;
  }

  .hero-parent {
    flex-direction: column;
    padding: 0 15px;
    gap: 40px;
  }

  /* -------- HERO OFFER -------- */
  .hero-offer {
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .hero-offer-content {
    padding-top: 20px;
    line-height: 30px;
  }

  .discover { font-size: 22px; }
  .top-30 { font-size: 30px; }
  .all-in { font-size: 16px; }

  .hero-offer-btn {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
    border-radius: 20px;
    margin-left: 0;
  }

  .hero-offer-btn-line {

    width: 1px;
    height:auto;
    margin: 10px 0;
  }

  /* -------- iMAGE SLIDER -------- */
  .hero-img-slider {
    width: 100%;
    height: 320px;
    justify-content: center;
  }

  .hero-img-slider-fist {
    animation-duration: 6s;
  }
  .hero-img-slider-second {
    animation-duration: 4s;
  }

  .hero-img-slider-fist > img,
  .hero-img-slider-second > img {
    width: 12vw;
    height: 180px;
    border-radius: 25px;
  }

  /* -------- fORM -------- */
  .hero-query-form {
    width: 60%;
    margin: auto;
  }

  .hero-form-child {
    width: 100%;
    margin: 0;
  }


}



/* ---------------------------------------- Logos --------------- */
.logo-section-parent{
  width: 100%;
  background: #fff;
}


.logo-parent{
  max-width: 1400px;
  margin: auto;
}

.logo-child{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 0px 80px;
  flex-wrap: wrap;
}


.logo-child img{
  max-width: 160px;
  width: 100%;
  height: auto;
  object-fit: contain;
}


.schools-section {
  padding: 50px 20px;
}

.schools-section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2a1b6b;
}

.slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  cursor: grab;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.slider:active {
  cursor: grabbing;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  min-width: 180px;
  height: 100px;
  background: #fff;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  max-height: 60px;
}


/* ---------------------- , logo section  Mobile responisve ------------ */

@media (max-width: 767px) {
  .slide {
    min-width: 140px;
  }
   .logo-child{
    padding: 20px;
    gap: 20px;
  }

  .logo-child img{
    max-width: 120px;
  }

}
/* ----------------------  logo section tablet responisve ------------ */
@media (max-width: 1023px){
  .logo-child{
    padding: 30px 40px;
    gap: 30px;
  }

  .logo-child img{
    max-width: 110px;
  }
}










/* ---------------------------------- choose schooll ----------------- */
.choose-school-parent{
  max-width: 100vw;
  height: auto;
  background-color: white;
}
.choose-school-parent>p{
  font-size: 38px;
  font-weight: 600;
  color: #4b1e7e;
  text-align: center;
}
.choose-school-child{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 85px;
  gap: 10px;
  
}
.choose-school-card{
  height: 16rem;
  background: #000;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  /* background-position: center; */
  border: 1px solid rgb(184, 180, 180);
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.choose-school-card:nth-child(1){
  background-image: url("/img/child2.jfif");
}
.choose-school-card:nth-child(2){
  background-image: url("/img/child3.jfif");
}
.choose-school-card:nth-child(3){
  background-image: url("/img/child4.jfif");
}
.choose-school-card:nth-child(4){
  background-image: url("/img/child2.jfif");
}

.choose-school-card-overlay{
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(247, 247, 247, 0)
  );
  /* background-color: #00000004; */
  display: flex;
  align-items: flex-end;
}
.choose-school-card-content>h5{
    margin-bottom: -12px;
}
.choose-school-card-content{
  color: white;
  padding: 10px;
  font-weight: 100;
}

.choose-school-card:hover{
  transform: translateY(7px);
}


/* ----------Choose scholl table screen responsive */
@media (max-width: 1023px){
 .choose-school-child{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* --------- Choose school mobile screen responsive */
@media (max-width: 600px){
 .choose-school-child{
    grid-template-columns: 1fr;
  }

.choose-school-card{
    height: 360px;
  }
}

/* ------------------------ parestn appointment----------------------- */

.parent-appointment-parent{
  width: 100%;
  min-height: 75vh;
  margin-top: 60px;
  background: linear-gradient(to right, #f3e9ff, #e7d8ff);
  display: flex;
  align-items: center;
}


.parent-appointment-child{
  width: 50%;
}

.parent-appointment-sub-child{
  padding: 60px 80px;
}

.parent-appointment-sub-child-subtitle{
  color: #7a5cc7;
  font-size: 18px;
  font-style: italic;
}

.parent-appointment-sub-child h3{
  font-size: 42px;
  font-weight: 700;
  color: #2b1c57;
  line-height: 1.2;
  margin: 20px 0;
}

.parent-appointment-sub-child-small{
  font-size: 16px;
  color: #7a5cc7;
  margin-bottom: 30px;
}


.parent-appointment-sub-child button{
  padding: 14px 26px;
  border: 1px solid #2b1c57;
  background: transparent;
  color: #2b1c57;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}


.parent-appointment-child-img{
  width: 50%;
  height: 75vh;
  position: relative;
}

.parent-appointment-child-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.parent-appointment-child-img::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  background: linear-gradient(to right, #e7d8ff, transparent);
}

/* ---------------parent app. tablet responsive ---------------------- */
@media(max-width: 1024px){
  .parent-appointment-sub-child{
    padding: 40px;
  }

  .parent-appointment-sub-child h3{
    font-size: 34px;
  }
}

/* ---------------parent app. mobile responsive ---------------------- */

@media(max-width: 768px){
  .parent-appointment-parent{
    flex-direction: column;
  }

  .parent-appointment-child,
  .parent-appointment-child-img{
    width: 100%;
  }

  .parent-appointment-sub-child{
    padding: 30px 20px;
  }

  .parent-appointment-child-img{
    height: 45vh;
  }

  .parent-appointment-child-img::before{
    width: 100%;
    background: linear-gradient(to top, #e7d8ff, transparent);
  }

  .parent-appointment-sub-child h3{
    font-size: 28px;
  }
}












/* -----------------slider Exhibition-------------------------- */


.exhibition-section{
  padding: 60px 30px;
  background: radial-gradient(circle at top, #4b1e7e, #0b0d3a);
  color: white;
  text-align: center;
}

.exhibition-section h2{
  font-size: 32px;
  margin-bottom: 40px;
}



.slider-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider-container{
  overflow: hidden;
  width: 100%;
}

.slider-track{
  display: flex;
  transition: transform 0.5s ease;
}



.slide-card{
  min-width: 300px;
  max-width: 300px;
  background: #eadbff;
  color: #2b1c57;
  padding: 25px;
  border-radius: 16px;
  margin-right: 20px;
  text-align: left;
}

.slide-card h4{
  font-size: 18px;
  margin-bottom: 10px;
}

.slide-card p{
  font-size: 14px;
  line-height: 1.5;
}



.nav-btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.nav-btn:hover{
  background-color: #a960fc;
 
}


/*  ------------------------ slider - tavlet responive----------------------------*/
@media(max-width:1024px){
  .slide-card{
    min-width: 260px;
  }
}

/*  ------------------------ slider mobile responive----------------------------*/

@media(max-width:768px){
  .slider-wrapper{
    gap: 10px;
  }

  .slide-card{
    min-width: 85%;
  }

  .nav-btn{
    width: 38px;
    height: 38px;
  }

  .exhibition-section h2{
    font-size: 24px;
  }
}



/* ----------------footer section ------------------ */
.main-footer {
  background: linear-gradient(135deg, #4b1c6f, #0b1035);
  padding: 50px 20px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}


.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 30px;
}


.footer-col h4 {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.9;
}


.logo-col img {
  max-width: 120px;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background: #fff;
  color: #4b1c6f;
}

/* ---------------- footer mobile scren responisve ----------------- */
@media (max-width: 575px) {
  .footer-col h4 {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
   .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}


/* footer desktop scren responisve  */
@media (min-width: 992px) {
  .footer-container {
    grid-template-columns: 1.2fr 2fr 2fr 1.5fr 1.3fr;
    align-items: flex-start;
  }
}

/* footer teblet scren responisve  */
@media (min-width: 576px) and (max-width: 991px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
















